.wrapper{
  display: flex;
}

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-top{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-top-left a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.side-top-right a{
  border: 1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding: 14px;
  text-decoration: none;
}

.side-rooms{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.main{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff; 
}


.main-top{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header-title{
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button{
  margin-top: 40px;
}

.header-button a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}

.main-chat{
  height: calc(100vh - 190px);
  background-color: #FAFAFA;
  padding: 46px 40px 0 40px;
  overflow: scroll;
}

.chat-box{
  margin: 10px 0 0 0;
}

.chat-name-create_at{
  display: flex;
}

.chat-name{
  font-size: 16px;
  color: #434A54;
}

.chat-create_at{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.chat-text{
  margin-top: 10px;
}

.chat-text-content{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.form{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input{
  background-color: #DDDDDD;
  width: 100%;
  display: flex;
}

.form-message{
  width: 100%;
  border: none;
  padding-left: 10px;
  background-color: white;
  height: 50px;
}

.form-submit{
  border: none;
  margin-left: 15px;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  height: 50px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}